* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


.box-outer {
    width: 260px;
    background: #fff;
    border: 3px solid #000;
    border-radius: 8px;
    padding: 12px;
    text-align: center;
}


.box-image {
    position: relative;
}


.box-image-kupon {
    position: relative;
    font-size: 14px;
    font-weight: bold;
}


.box-image-kupon::before {
    content: "Free Ongkir";
    position: absolute;
    top: 8px;
    left: 8px;
    background: #7CFF9B;
    padding: 5px 10px;
    border-radius: 4px;
    z-index: 2;
}

.box-image-kupon img {
    width: 100%;
    border-radius: 6px;
    display: block;
}


.box-outer h3 {
    margin: 12px 0 5px;
    font-size: 20px;
    font-weight: bold;
}


.harga-waarna {
    color: orange;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}


.pesan {
    width: 100%;
    padding: 10px;
    background: #FFE08A;
    border: 3px solid orange;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.pesan:hover {
    background: #FFD45A;
}
